//con configuración para linter. Este archivo no se debe cambiar
{
    "extends": ["prettier"],
    "plugins": ["prettier"],
    "parserOptions": {
      "ecmaVersion": 6
    },
    "env": {
      "node": true,
      "es6": true
    }
  }